arrow==0.12.1
asn1crypto==0.24.0
beautifulsoup4==4.6.0
bibtexparser==1.0.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
future==0.16.0
idna==2.7
lxml==4.2.1
PTable==0.9.2
pycparser==2.18
pyOpenSSL==18.0.0
pyparsing==2.2.0
python-dateutil==2.7.3
python-docx==0.8.6
requests==2.19.1
sip==4.19.8
six==1.11.0
urllib3==1.23
wikipedia==1.4.0
